*{
    margin: 0;
    padding: 0;
}


/* Exibe uma mensagem para o usuário */
@media only screen and (max-width: 600px) {
  body {
    display: block;
    text-align: center;
    padding: 50px;
  }
  
  body::before {
    content: "Por favor, utilize um computador para visualizar esta página. O personagem move os olhos com base no movimento do mouse";
    color: #fff;
    font-size: 24px;
  }
}



body{
    background-color: #333;
}
.rosto{
    width: 500px;
    height: 500px;
    background: rgb(21, 184, 6);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
}
.olho::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.olho:nth-child(1){
    left: 40px;
}
.olho:nth-child(2){
    right: 40px;
}

.pupila{
    width: 50px;
    height: 50px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.boca{
    width: 400px;
    height: 400px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -200px;
    border: 5px solid #000;
    border-color: transparent transparent #000 transparent;
}

